.quiz-container {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #f1c40f;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #2c3e50;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #c0392b;
  }
  
  #options button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  #options button:last-child {
    margin-bottom: 0;
  }
  
  #options button:hover {
    background-color: #2980b9;
  }
  
  .quiz-container::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-color: #f39c12;
    opacity: 0.5;
    z-index: -1;
    border-radius: 20px;
  }
  
  .quiz-container::after {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    background-color: #e67e22;
    opacity: 0.5;
    z-index: -2;
    border-radius: 30px;
  }
  
  body {
    background-color: #ecf0f1;
    font-family: "Arial", sans-serif;
  }